$blackFont: #22262a;
//Общие стили
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #22262a;
}
// Обёртка для содержимого
.container {
  max-width: 1138px;
  margin: 0 auto;
  padding: 0px 10px;
}
// Шапка сайта
.header {
  width: 100%;
  position: fixed;
  padding: 27px 0;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  &__icons {
    position: relative;
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $blackFont;
    line-height: 27px;
  }
  &__link:not(last-child) {
    margin-right: 25px;
  }
  &__items {
    display: flex;
    justify-content: flex-end;
  }
  &__burger {
    display: none;
  }
  &__link:hover {
    // border-bottom: 3px solid $blackFont;
    text-shadow: 0 0 10px rgba(41, 40, 41, 0.5);
  }
  &__logo {
    position: relative;
  }
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
// Тень для иконочного шрифта
svg:hover {
  filter: drop-shadow(0 0 10px rgba(41, 40, 41, 0.5));
}

// Главная страница
.main {
  background: url("../img/1.png");
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 80px;

  position: relative;
  &__block {
    position: absolute;
    bottom: calc((101 / 1593) * 100%);
    right: calc((170 / 1593) * 100%);
  }
  &__undertitle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 27px;
  }
  &__button {
    text-transform: uppercase;
    color: #fff;
    background: #22262a;
    padding: 4px 28px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-right: 34px;
    &:hover {
      background: #fff;
      color: #22262a;
      font-weight: 600;
    }
  }
  &__two {
    padding: 4px 24px;
  }
}
@media(max-width:1330px){
  
}
.category {
  padding-top: 160px;
  padding-bottom: 70px;
  &__block {
    display: flex;
    flex: 0 0 30%;
    justify-content: space-between;
    height: 574px;
  }
  &__block-one {
    width: 551px;
    display: flex;
    flex-wrap: wrap;
    height: 286px;
  }
  &__block-two {
    width: 551px;
    height: 265px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  &__block-three {
    position: relative;
  }
  &__button {
    position: absolute;
    bottom: 25px;
    left: 28px;
    text-transform: uppercase;
    padding: 4px 24px;
    border: none;
    background: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    &:hover {
      color: #fff;
      background: $blackFont;
    }
  }
}
.title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.subtitle {
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  margin-top: 15px;
}
.card {
  padding-bottom: 70px;
}
.cart-items{
  min-width: 0;
  padding: 35px 0px 35px 0px;
  position: relative;
  
}
.cart-items .slick-arrow {
 // display: flex;
 // justify-content: space-between;
 // padding-top: 35px;
 position: absolute;
 top:40%;
 z-index: 10;
 font-size: 0;
 width: 30px;
 height: 60px;
 border: none;
}
.cart-items .slick-arrow.slick-prev{
  left:10;
  background: url('../img/arrow-prew.svg') 0 0 / 100% no-repeat;
}
.cart-items .slick-arrow.slick-next{
  right:13px;
  background: url('../img/arrow-next.svg') 0 0 / 100% no-repeat;
}
.name {
  padding-top: 15px;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 3px;
}
.subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-top: 3px;
}
.price {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 3px;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}
.new-price {
  color: #cf2929;
}
/* Слайдер */
.slick-slider{
  min-width: 0;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
.avone {
  padding-bottom: 40px;
  &__wrap {
    display: inline-flex;
    flex: 0 0 30%;
    justify-content: space-around;
  }
  &__block-one {
    padding-top: 147px;
    padding-right: 29px;
  }
  &__block-two {
    padding-top: 60px;
  }
  &__block-three {
    display: flex;
    flex: 0 0 30%;
    align-items: flex-end;
    position: relative;
    padding-left: 152px;
    top: -45px;
  }
  &__img16 {
    box-sizing: border-box;
    border-top: 22px solid #fff;
    border-left: 20px solid #fff;
  }
  &__link {
    text-transform: uppercase;
    color: #22262a;
    font-family: "Poppins";
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 20px;
    &:hover {
      text-shadow: 0 0 10px rgba(41, 40, 41, 0.5);
    }
  }
}
.tachen {
  background-image: url("../img/17.png");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  position: relative;
  &__block {
    position: absolute;
    bottom: 129px;
  }
  &__undertitle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;
  }
  &__button {
    text-transform: uppercase;
    color: #fff;
    background: #22262a;
    padding: 4px 28px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-right: 34px;
    &:hover {
      background: #fff;
      color: $blackFont;
      font-weight: 600;
    }
  }
}
.footer {
  padding-top: 115px;
  padding-bottom: 90px;
  background: #f2f8fc;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__description {
    font-size: 15px;
    line-height: 22px;
    width: 415px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  &__info {
    font-size: 15px;
    line-height: 22px;
    padding-top: 41px;
  }
  &__nav-items {
    display: flex;
    padding-top: 16px;
  }
  &__social-link {
    margin-right: 15px;
    color: #000;
    font-size: 15px;
    line-height: 17px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    line-height: 15px;
    padding-bottom: 20px;
  }
  &__text {
    font-size: 15px;
    line-height: 22px;
    color: #22262a;
    padding: 11px 24px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 0px;
    margin-bottom: 65px;
    width: 420px;
  }
  &__button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    background: #fff;
    padding: 11px 23px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0px;
    position: relative;
    right: 15px;
    z-index: -1;
  }
}
.menu {
  display: flex;
  &-item-link {
    font-weight: normal;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
    color: #22262a;
    margin-right: 88px;
    &:hover {
      text-shadow: 0 0 10px rgba(41, 40, 41, 0.5);
    }
  }
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 52px;
}
.copyright {
  text-align: center;
  background: #e7f5f8;
  padding: 35px;
}
