html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #22262a;
}

.container {
  max-width: 1138px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header {
  width: 100%;
  position: fixed;
  padding: 27px 0;
  background: #fff;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 3;
}

.header__icons {
  position: relative;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #22262a;
  line-height: 27px;
}

.header__link:not(last-child) {
  margin-right: 25px;
}

.header__items {
  display: flex;
  justify-content: flex-end;
}

.header__burger {
  display: none;
}

.header__link:hover {
  border-bottom: 3px solid #22262a;
  text-shadow: 0 0 10px rgba(96, 11, 104, 0.5);
}

.header__logo {
  position: relative;
  z-index: 4;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 3;
}

svg:hover {
  filter: drop-shadow(0 0 10px rgba(96, 11, 104, 0.5));
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 4;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger .active:before {
    transform: rotate(45deg);
  }
  .header__list li a {
    color: #fff;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.9);
    color: #fff;
    padding: 120px 10px 20px 10px;
  }
  .header__list {
    display: block;
  }
}

.main {
  background: url("../img/1.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  top: 80px;
  z-index: -1;
}

.main__block {
  position: absolute;
  bottom: 101px;
  right: 170px;
  z-index: -1;
}

.main__undertitle {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.main__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80px;
  line-height: 120px;
}

.main__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 27px;
}

.main__button {
  text-transform: uppercase;
  color: #fff;
  background: #22262a;
  padding: 4px 28px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-right: 34px;
}

.main__two {
  padding: 4px 24px;
}

.category {
  padding-top: 70px;
  padding-bottom: 70px;
}

.category__block {
  display: flex;
  justify-content: space-between;
  height: 574px;
}

.category__block-one {
  width: 551px;
  display: flex;
  flex-wrap: wrap;
  height: 286px;
}

.category__block-two {
  width: 551px;
  height: 265px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.category__block-three {
  position: relative;
  z-index: -1;
}

.category__button {
  position: absolute;
  bottom: 25px;
  left: 28px;
  text-transform: uppercase;
  padding: 4px 24px;
  border: none;
  background: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.subtitle {
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  margin-top: 15px;
}

.card {
  padding-bottom: 70px;
}

.card__cart-items {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}

.card__name {
  padding-top: 28px;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 3px;
}

.card__subtitle {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  margin-top: 3px;
}

.card__price {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 3px;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

.card__new-price {
  color: #cf2929;
}

.men {
  padding-bottom: 70px;
}

.men__cart-items {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}

.men__name {
  padding-top: 28px;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 3px;
}

.men__subtitle {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  margin-top: 3px;
}

.men__price {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 3px;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

.men__new-price {
  color: #cf2929;
}

.avone {
  padding-bottom: 40px;
}

.avone__wrap {
  display: flex;
  justify-content: space-around;
}

.avone__block-one {
  padding-top: 147px;
  padding-right: 29px;
}

.avone__block-two {
  padding-top: 60px;
}

.avone__block-three {
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: -1;
  padding-left: 152px;
  top: -45px;
}

.avone__img16 {
  box-sizing: border-box;
  border-top: 22px solid #fff;
  border-left: 20px solid #fff;
}

.avone__link {
  text-transform: uppercase;
  color: #22262a;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  padding-bottom: 20px;
}

.tachen {
  background-image: url("../img/17.png");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.tachen__block {
  position: absolute;
  bottom: 129px;
}

.tachen__undertitle {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.tachen__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80px;
  line-height: 120px;
}

.tachen__button {
  text-transform: uppercase;
  color: #fff;
  background: #22262a;
  padding: 4px 28px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-right: 34px;
}

.footer {
  padding-top: 115px;
  padding-bottom: 90px;
  background: #f2f8fc;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__description {
  font-size: 15px;
  line-height: 22px;
  width: 415px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.footer__info {
  font-size: 15px;
  line-height: 22px;
  padding-top: 41px;
}

.footer__nav-items {
  display: flex;
  padding-top: 16px;
}

.footer__social-link {
  margin-right: 15px;
  color: #000;
  font-size: 15px;
  line-height: 17px;
}

.footer__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  line-height: 15px;
  padding-bottom: 20px;
}

.footer__text {
  font-size: 15px;
  line-height: 22px;
  color: #22262a;
  padding: 11px 24px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 0px;
  margin-bottom: 65px;
  width: 420px;
}

.footer__button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  background: #fff;
  padding: 11px 23px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 0px;
  position: relative;
  right: 15px;
  z-index: -1;
}

.menu {
  display: flex;
}

.menu-item-link {
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  text-decoration: none;
  color: #22262a;
  margin-right: 88px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 52px;
}

.copyright {
  text-align: center;
  background: #e7f5f8;
  padding: 35px;
}
