body, html{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color:#22262A;
}
.header{
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
}
.menu-link{
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
}
